spring:
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  sql:
    init:
      mode: always
      encoding: UTF-8
      schema: classpath:schema.sql
      data: classpath:data.sql
  servlet:
    multipart:
      enabled: true
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  freemarker:
    template-loader-path: classpath:/templates/
    suffix: .ftl

  mvc:
    throw-exception-if-no-handler-found: false # Throw an exception if no handler is found for the request
  web:
    resources:
      add-mappings: true

logging:
  level:
    org.springframework.jdbc.core: DEBUG
    org.springframework.jdbc.core.StatementCreatorUtils: DEBUG

server:
  error:
    whitelabel:
      enabled: false # Disable default error page
